
<html>

<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/src/views/css/managementLayout.css">
    {% block css %}{% endblock %}
</head>

<body>
    <div class="header">

        <a href="/management">Заявки</a>
        <a href="/schedule">Расписание</a>
        <a href="/oddSchedule">Праздники</a>
        <strong>Е Д А</strong>

        <div class="authentication">
            {% if loggedIn is empty %}
            <a href="/register">Регистрация</a>
            <a href="/login">Войти в систему</a>
            {% else %}
            <a href="/logout">Выйти из системы</a>
            {% endif %}
        </div>

        <hr>
        
    </div>
    {% block content %}{% endblock %}
</body>

{% block scripts %}{% endblock %}

</html>
