{% extends 'managementLayout.twig' %}

{% block title %}
    Расписание
{% endblock %}

{% block content %}
<form action="/addOddScheduleDay" method="post">
    <table>
    <tr>
        <th>День</th>
        <th>с</th>
        <th>по</th>
        <th></th>
    </tr>
    <tr>
        <td><input type="date" name="day" /></td>
        <td><input type="text" name="openAt" /></td>
        <td><input type="text" name="duration" /></td>
        <td><input type="submit" value="добавить" /></td>
    </tr>
    </table>
</form>
<hr>
<table>
    <tr>
        <th>Дата</th>
        <th>с</th>
        <th>по</th>
    </tr>
    {% for scheduleDay in schedule %}
    <tr>
        <td>{{ scheduleDay.day }}</td>
        <td>{{ scheduleDay.open_at }}</td>
        <td>{{ scheduleDay.duration + scheduleDay.open_at }}</td>
        <td><a href="/deleteOdd/{{ scheduleDay.day }}" class="deleteBtn">Удалить</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

{% block scripts %}
<script src="/src/views/js/manageOddSchedule.js" type="application/javascript"></script>
{% endblock %}
