
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div style="border: solid 1px">
        <a href="/management">Заявки</a>
        <a href="/schedule">Расписание</a>
        <a href="/register">Регистрация</a>
        Е Д А
        {% if loggedIn is empty %}
        <a href="/login" style="float: right;">Войти в систему</a>
        {% else %}
        <a href="/logout" style="float: right;">Выйти из системы</a>
        {% endif %}
        <hr>
    </div>
    {% block content %}{% endblock %}
</body>
</html>