<html>
<head> 
    <meta charset="UTF-8"> 
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/src/views/css/userLayout.css">
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="main">
    {% block content %}{% endblock %}
    </div>

    <div class="aside">
    {% block rightFloat %}{% endblock %}

    {% block scripts %}
    {% endblock %}
</body>
</html>